build-Gimbal_Software_2-Desktop_Qt_5_9_1_MinGW_32bit-Debug/
*.cpp.*
*.h.*
build-Gimbal_Software_2-Desktop_Qt_5_9_2_MinGW_32bit-Debug/
Gimbal_Software_2/Gimbal_Software_2.pro.user.aef78f8
build-Gimbal_Software_2-Desktop_Qt_5_9_2_MinGW_32bit-Release/
